img {
  max-width: 100%; }

.bannerIndex, .categorias .categorias-items .textoDestacado {
  justify-content: center;
  align-items: center; }

header {
  background-color: #0c0c0c; }
  header nav {
    display: flex;
    align-items: center; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      header nav ul a {
        display: block;
        padding: 8px;
        line-height: 50px;
        background: #0c0c0c;
        color: white;
        text-decoration: none; }
        header nav ul a:hover {
          background: pink;
          transition: .5s; }

footer {
  background-color: white; }
  footer .contactanos {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around; }

.mail {
  height: 27px;
  width: 27px;
  display: flex; }
  .mail:hover {
    background-color: lightblue; }

.ig {
  height: 27px;
  width: 27px;
  display: flex; }
  .ig:hover {
    background-color: pink; }

.fb {
  height: 27px;
  width: 27px;
  display: flex; }
  .fb:hover {
    background-color: blue; }

.tiktok {
  height: 27px;
  width: 27px;
  display: flex; }
  .tiktok:hover {
    background-color: grey; }

.wpp {
  height: 27px;
  width: 27px;
  display: flex; }
  .wpp:hover {
    background-color: green; }

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    header nav {
      flex-direction: column; }
      header nav ul {
        flex-direction: column; } }

@media only screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    footer .contactanos {
      flex-direction: column; }
      footer .contactanos ul {
        flex-direction: column; } }

@media only screen and (max-width: 768px) and (max-width: 768px) {
  .nosotros {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas: "fondo" "about";
    text-align: center; }
    .nosotros .fondo {
      max-width: 100%;
      height: 100px;
      font-size: 40px; } }

@media only screen and (max-width: 768px) {
  main {
    display: flex; }
    main h1 {
      display: none; }
      main h1 iframe {
        max-width: 100%; } }

/*MEDIA QUERIE PRODUCTOS */
@media only screen and (max-width: 768px) {
  .categorias {
    min-width: 100%; } }

.bannerIndex {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 20px; }
  .bannerIndex h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: pink;
    background: white;
    padding: 15px;
    margin: 2px;
    border-radius: 30px; }

.nosotros {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  min-height: 90vh;
  width: 85vw;
  margin: 0 auto;
  grid-template-rows: auto;
  grid-template-areas: "fondo fondo" ". about"; }
  .nosotros .fondo {
    color: pink;
    grid-area: fondo;
    font-size: 8em; }
    .nosotros .fondo .about {
      grid-area: about;
      display: flex; }

.categorias {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap; }
  .categorias .categorias-items {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 33.33%;
    border: 3px solid white;
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-position: center; }
    .categorias .categorias-items .textoDestacado {
      display: flex;
      height: 100%; }

.tituloProd {
  color: pink;
  text-align: center;
  padding: 10px; }

.productosDestacados {
  margin-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px; }
  .productosDestacados .prodDestItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box; }
