img {
  max-width: 100%; }

header {
  background-color: #0c0c0c; }
  header nav {
    display: flex;
    align-items: center; }
    header nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      header nav ul a {
        display: block;
        padding: 8px;
        line-height: 50px;
        background: #0c0c0c;
        color: white;
        text-decoration: none; }
        header nav ul a:hover {
          background: pink;
          transition: .5s; }

.nosotros {
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  min-height: 90vh;
  width: 85vw;
  margin: 0 auto;
  grid-template-rows: auto;
  grid-template-areas: "fondo fondo" ". about"; }
  .nosotros .fondo {
    color: lightpink;
    grid-area: fondo;
    font-size: 8em; }
    .nosotros .fondo .about {
      grid-area: about;
      display: flex; }

.bannerIndex {
  position: relative; }

.fraseBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.boton {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-70%, -70%);
  background: white;
  padding: 15px;
  margin: 2px;
  border-radius: 30px; }

footer {
  background-color: #0c0c0c; }
  footer .contactanos {
    display: flex;
    align-items: center;
    justify-content: center; }
    footer .contactanos ul {
      list-style: none;
      margin: 0;
      padding: 20px;
      display: flex; }
      footer .contactanos ul a {
        display: block;
        padding: 24px;
        line-height: 50px;
        background: #0c0c0c;
        color: white;
        text-decoration: none; }
        footer .contactanos ul a:hover {
          background: pink;
          transition: .5s; }

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    header nav {
      display: flex;
      flex-direction: column; }
      header nav ul {
        display: flex;
        flex-direction: column; } }

@media only screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    footer .contactanos {
      display: flex;
      flex-direction: column; }
      footer .contactanos ul {
        display: flex;
        flex-direction: column; } }

@media only screen and (max-width: 768px) and (max-width: 768px) {
  .nosotros {
    grid-template-columns: 1fr;
    width: 100%;
    grid-template-areas: "fondo" "about";
    text-align: center; }
    .nosotros .fondo {
      max-width: 100%;
      height: 100px;
      font-size: 40px; } }
