img{max-width: 100%;}
$nav-background: #0c0c0c;
$nav-font-color: white;
$link-hover-color: pink;

$coloresTitulo:(
    titulo:pink,
    subtitulo: lightpink
);

%centro{justify-content: center;
    align-items: center;}

$ig:pink;
$wpp:green;
$email:lightblue;
$fb:blue;
$tiktok:grey;