footer{background-color: white;
    .contactanos { 
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    }}
    
@mixin redes($hover) {
height: 27px;
width: 27px;
display: flex;
&:hover{background-color: $hover;
}
}

.mail{@include redes($email)
}
.ig{@include redes($ig)
}
.fb{@include redes($fb)
}
.tiktok{@include redes($tiktok)
}
.wpp{@include redes($wpp)
}