

header{background-color: $nav-background;
    nav { 
    display: flex;
    align-items: center;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        a {
            display: block;
            padding: 8px ;
            line-height: 50px;
            background: $nav-background;
            color: $nav-font-color;
            text-decoration: none;
            &:hover{
                background: $link-hover-color;
                transition: .5s;
        }
    }
}}}

.nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "fondo fondo"
    ". about";
    .fondo{
        color: $color-titulo;
        grid-area: fondo;
        font-size: 5em;;
.about{grid-area: about;
    display: flex;
}}}
